<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Cover:</strong><br>
  <%= image_tag @book.img.url(:medium) %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @book.synopsis %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.name %>
</p>

<%= link_to 'Edit', edit_book_path(@book), class: "btn btn-primary" %>
<%= link_to 'Back', books_path, class: "btn btn-default" %>
