<!DOCTYPE html>
<html>
  <head>
    <title>Rails Library</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Rails Library", '#', id: "logo",:class=>"navbar-brand" %>
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <li class="<%= active_class(authors_path) %>"><%= link_to "Authors", authors_path %></li>
            <li class="<%= active_class(books_path) %>"><%= link_to "Books", books_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
